body{
    display: flex;
    /* justify-content: center; Centrage horizontal */
    /* align-items: center; Centrage vertical */
    height: 100vh; /* Hauteur du viewport */
    margin: 0;
    background-color: #f8f9fa;
}
.sidebar {
width: 250px;
background: #b6adad;
color:#0c0c0c;
padding: 15px;
/* position: fixed; */
height: 100%;
}

.sidebar h2 {
text-align: center;
margin-bottom: 30px;
}

.sidebar ul {
list-style-type: none;
padding: 0;
}

.sidebar ul li {
margin: 20px 0;
}

.sidebar ul li a {
color: #070707;
text-decoration: none;
font-size: 18px;
display: block;
}

.sidebar ul li a:hover {
color: #5833dd;
padding-left: 10px;
transition: 0.3s;
}