<div class="main-container">

    <div class="sidebar">
        <div class="logo" style="display: flex;">
            <img src="logo.png" alt="" style="width: 50px; height: 50px;">
            <h2>Mon Etab</h2>
        </div>
        
        <hr style="background-color: #575757;">
        <ul style="height: 420px;">
            <li><a href="dashbord"><i class="fas fa-tachometer-alt"></i> Tableau de Bord</a></li>
            <li><a href="students"><i class="fas fa-user-graduate"></i> Éleve</a></li>
            <li><a href="teachers"><i class="fas fa-chalkboard-teacher"></i> Professeurs</a></li>
            <li><a href="users"><i class="fas fa-user-graduate"></i> Utilisateurs</a></li>
            <li><a href="rapport"><i class="fas fa-id-badge"></i> Rapport</a></li>
            
            
        </ul>
        <hr>
        <ul>
            <li><a href="login"><i class="fa fa-sign-out" aria-hidden="true"></i> deconnexion</a></li>
        </ul>
        
    </div>
    
    <div class="main-content">
        <header>
            <h2>Tableau de Bord</h2>
        </header>

        <div class="cards">
            <div class="card">
                <div class="card-content">
                    <h3>Nombre d'Éleves</h3>
                    <p>128 100</p>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <h3>Nombre de Professeurs</h3>
                    <p>128 100</p>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <h3>Utilisateurs</h3>
                    <p>128 100</p>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <h3>Eleve par genre</h3>
                    <div class="chart-container">
                        <canvas id="genderChart">gender</canvas>
                </div>
            </div>
        </div>
        
    </div>
    </div>
</div>
    