<body>
    <div class="sidebar">
        <div class="logo" style="display: flex;">
            <img src="logo.png" alt="" style="width: 50px; height: 50px;">
            <h2>Mon Etab</h2>
        </div>
        <hr style="background-color: #575757;">
        <ul style="height: 420px;">
            <li><a href="dashbord"><i class="fas fa-tachometer-alt"></i> Tableau de Bord</a></li>
            <li><a href="students"><i class="fas fa-user-graduate"></i> Éleve</a></li>
            <li><a href="teachers"><i class="fas fa-chalkboard-teacher"></i> Professeurs</a></li>
            <li><a href="users"><i class="fas fa-user-graduate"></i> Utilisateurs</a></li>
            <li><a href="rapport"><i class="fas fa-id-badge"></i> Rapport</a></li>
            
            
        </ul>
        <hr>
        <ul>
            <li><a href="login"><i class="fa fa-sign-out" aria-hidden="true"></i> deconnexion</a></li>
        </ul>
        
    </div>

<div class="container">
    
    <form>
        <h1>Ajouter un Eleve</h1>
        <div class="form-group">
            <input type="text" id="firstname" name="firstname" placeholder="admin" >
        </div>
        <div class="form-group">
            <input type="password" id="lastname" name="password" placeholder="ancien mot de pass" >
        </div>
       
        <div class="form-group">
            <input type="password" id="password" name="password"  placeholder="nouveau mot de pass">
        </div>
    
    <div class="form-group">
        <input type="password" id="password" name="password" placeholder="confirmerle mot de pass" >
    </div>
</form> 
<button type="submit">Annuler</button>
<button type="reset">Enregistrer</button>
</div>  
</body>
